.baseSelect {
  width: auto;
  max-width: 840px;
  max-height: 460px;
  overflow-x: auto;
  overflow-y: hidden;
  .checkbox {
    padding: 20px 0 20px 0;

    :global {
      .ant-checkbox-group {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .ant-checkbox-group-item {
          font-size: 24px !important;
          color: #40a9ff !important;
          margin: 15px !important;
          // background: #f2f7ff;
          // display: inline-block;
          // display: table;
          text-align: center;
          // width: 33.333%;
          // height: 13rem;
          width: 180px;
          height: 180px;
          border: 1px solid #40a9ff;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 2rem;
          margin: 0;

          span {
            word-break: normal;
            display: block;
            overflow: hidden;
            padding: 0;
            white-space: normal;
          }

          &.ant-checkbox-wrapper-checked {
            background: #40a9ff;
            color: #fff !important;
          }

          .ant-checkbox {
            display: none;
          }
        }
      }
    }
  }

  .radio {
    padding: 20px 0 20px 0;
    :global {
      .ant-radio-group {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .ant-radio-wrapper {
          font-size: 24px !important;
          color: #40a9ff !important;
          margin: 15px !important;
          // background: #f2f7ff;
          // display: inline-block;
          text-align: center;
          // width: 33.333%;
          // height: 13rem;
          width: 180px;
          height: 180px;
          border: 1px solid #40a9ff;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 2rem;
          margin: 0;

          span {
            word-break: normal;
            display: block;
            overflow: hidden;
            padding: 0;
            white-space: normal;
          }

          &.ant-radio-wrapper-checked {
            background: #40a9ff;
            color: #fff !important;
          }

          .ant-radio {
            display: none;
          }

          &:before {
            content: ' ';
            display: inline-block;
            width: 1%;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

:global {
  .radio-more {
    width: 840px;
    height: 460px;
    .ant-radio-group {
      width: 100%;
      height: 100%;
      flex-direction: column;
    }
  }
  .checkbox-more {
    width: 840px;
    height: 460px;
    .ant-checkbox-group {
      width: 100%;
      height: 100%;
      flex-direction: column;
    }
  }
  .common-baseSelect-normal {
    .ant-modal {
      width: auto !important;
    }
  }

  .radio-single {
    .ant-radio-wrapper {
      width: 400px !important;
      text-align: center;
      line-height: 84px;
    }
  }

  .checkbox-single {
    .ant-checkbox-group-item {
      width: 400px !important;
      text-align: center;
      line-height: 84px;
    }
  }
}
